
header{
    background-color: rgb(54, 59, 65);
    width: 100%; height: 100%;
    padding: 0.5rem; 
}

nav{
    display: flex;
    align-items: center;
}

a {
    color:white;
}

#name {
    margin-left: 20px;
}

.circleEdge {
    border-radius: 50%;
}

.noList {
    list-style: none;      
}


nav img {
    width: 3em;
}

#lateralMenu {
    position: absolute;
    background-color: rgba(117, 113, 113, 0.918);
    width: 60%;
    display: flex;
    flex:1;
    text-align: center;
    min-height: calc(100vh - 80px);
    align-items: center;
    justify-content: center;
}

.description #aboutMe{
    align-items: center;
    justify-content: center;
}

#lateralMenu .noList li{
    margin: 5rem;   
}

.button_slide {
    color: #FFF;
    border: 2px solid rgb(6, 8, 36);
    border-radius: 0px;
    padding: 7px 36px;
    display: inline-block;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 10px;
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #a3a4b1;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
    border-radius: 5%;
}

.slide_left:hover {
    box-shadow: inset 0 0 0 50px rgb(198, 205, 214);
}

.broad{
    padding-right: 3%;
    padding-left: 3%;
}

.containerSkill {
    border: 1px solid red; /* Para visualizar el elemento */
    padding: 20px; /* Espaciado interno del elemento */
}
  

@media (max-width: 500px) {

    a {
        color:rgb(212, 11, 11);
    }

}

@media (max-width: 270px) {

    #name {
        margin-left: 20px;
        display: none;
    }

}