/* List */

.ulHeader {
    top:100%;
    display: flex;
    margin-left: auto;
}

.inlineList {
    display: inline;
    
}

.inlineList li {
    display: inline-block;
    margin-left: 3rem;
    margin-right: 1rem;
}

/* Icon */

#IconHamburguer{
    color: white;
    display: flex;
    margin-left: auto;
    font-size: 30px;
}

/* lateralMenu */

