/* li{
    display: table-cell;
    position: relative;
    padding: 15px 0;
}

a{
    color: #ff0000;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    display: inline-block;
    padding: 15px 20px;
    position: relative;
} */

